body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: salmon;
    font-family: 'Courier New', Courier, monospace;
}

.container {
    background-color: rgba(255, 255, 255, .3);
    padding: 20px;
    border-radius: 7px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, .3);
    width: 90%;
    max-width: 450px;
    text-align: center;
    margin: 10px;
}

h1 {
    font-size: 28px;
}

#input {
    font-size: 18px;
    padding: 10px 20px;
    background-color: rgba(255, 255, 255, .6);
    border-color: rgba(255, 255, 255, .4);
    border-radius: 5px;
    width: 80%;
    outline: none;
}